h1 {
    color: red;
}
/*
p{
    color:#ff3366; 
    background-color:#00ff00;
}
*/
.specialp {
    color:blue;
    background-color:#ff0000;
}

#specialID {
    color:green;
    background-color: yellow;
}

.orangebg {
    background-color: orange;
}

.spanstyle {
    color:blue;
}
/*links*/

a {
    color:#ff0000;
    text-decoration: none;
}

a:link {
    color:#00ff00;
}

a:visited {
    color:blue;
}

a:active {
    color:#00ffff;
}

a:hover {
    color:#ff00ff;
    text-decoration: underline;
}

footer {
    color:green;
}