body {
  background-color: #999999;
}

#wrapper {
  margin: 1em auto;
  width: 960px;
  border: 3px solid black;
  background-color: #ffffff;
  padding: 1em;
}

#myCarousel, #secondCarousel {
  margin-bottom: 24px;
}

#myCarousel .f-carousel__slide,  #secondCarousel .f-carousel__slide{
  text-align: center;
  padding: 24px;
  background: #eee;
}

.f-carousel { /**ARROW BUTTONS**/
  --f-arrow-pos: 10px;

  --f-arrow-width: 50px;
  --f-arrow-height: 50px;

  --f-arrow-svg-width: 32px;
  --f-arrow-svg-height: 32px;
  --f-arrow-svg-stroke-width: 2.5;

  --f-arrow-color: #a70c0c;
  --f-arrow-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-arrow-border-radius: 50%;
  --f-arrow-bg: #fff;
  --f-arrow-hover-bg: #f9f9f9;
  --f-arrow-active-bg: #f0f0f0;
}