@font-face {
  font-family: 'kosugi';
  src: url('./fonts/kosugi.ttf') format('truetype');
}

body {
  background-color: #A3A194;
  font-family: 'kosugi', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  background-color: #F8EFE1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header {
  grid-column: 2 / span 7;
  grid-row: 1;
  display: flex;
  align-items: center;
  width: 100%; 
  margin-top: 40px;
}

h1 {
  text-transform: uppercase;
  font-weight: 400; 
  font-size: 100px; 
    text-shadow: 2px 2px 2px #9c9c9c; /* x, y, blur, color */
}

nav {
  grid-column: 8 / span 4;
  grid-row: 1;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-end; 
  margin-top: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 0 5px 0; 
  font-size: 30px;
}

nav li a {
  color: black;
  text-decoration: none;
  padding: 0 10px; 
  display: inline-block; 
}

nav li a.resume {
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
    box-shadow: 10px 10px 10px #999; 
    border-radius: 10px;
    transition: background-color 0.5s, width 2.0s, color 2.0s;
}

nav li a.resume:hover {
  background-color: #555555;
}

nav li a.active {
  color: #8F3934; 
  text-decoration: underline; 
  font-weight: 600; 
}

nav ul li.dropdown {
  position: relative;
  display: inline-block; 
}

nav ul li.dropdown .dropdown-content {
  display: none; 
  position: absolute; 
  background-color: #DBD1C1; 
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 1; 
  list-style: none; 
  margin: 0; 
  top: 100%; 
  left: 0; 
  
}

nav ul li.dropdown .dropdown-content li a {
  color: black;
  padding: 8px 16px; 
  text-decoration: none;
  display: block; 
  text-align: left; 
  font-size: 20px; 
    transition: background-color 0.5s, width 2.0s, color 2.0s;
}

nav ul li.dropdown .dropdown-content li a:hover {
  background-color: #F2E7D7; 
  color: #8F3934; 
}

nav ul li.dropdown:hover .dropdown-content {
  display: block; 
}

nav ul li.dropdown:hover > a {
  color: #8F3934; 
}

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icon-wrapper {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;    
  align-items: center;
  width: 25px;      
  height: 25px;
  border-radius: 50%; 
  background-color: #DBD1C1; 
  margin: 5px 0 0 5px;
  padding: 10px;
    box-shadow: 10px 10px 10px #999; 
    transition: background-color 0.5s, width 2.0s, color 2.0s;
}

a:hover .social-icon-wrapper {
  background-color: #a0988a; 
  cursor: pointer;
}

main {
  grid-column: span 12; 
  grid-row: 2;
}

.SumiHero {
grid-template-columns: 2/12;
text-align: center;
padding-left: 100px;
padding-right: 100px;
}


.hero-section {
  display: grid; 
  grid-template-columns: repeat(12, 1fr); 
  grid-column-gap: 24px; 
  margin: 0;
  grid-column: span 12;
}

.SumiHero h2 {
  font-size: 39px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 3px;
}

.SumiHero p {
  color: #7E7E7E;
  font-size: 20px;
  text-align: justify;
  line-height: 25px;
}

.bold-font {
  color: #9B0E01;
  font-weight: bold;
}

#gallery-section {
  padding-left: 100px;
  padding-right: 100px;
}

#home-painting {
  display: block;
  max-width: none; 
  width: calc(100%); 
  margin: 0 24 0 -24px; 
  grid-column: 2 / 12; 
    border-radius: 10px;
    box-shadow: 10px 10px 10px #999; /* x, y, blur, color */
}

#hero-statement {
  color: #555555; 
  font-weight: 300; 
  font-size: 20px;
  text-align: center; 
  margin: 20px 0 40px; 
  padding: 0; 
  grid-column: 2 / 12; 
}

#about-me-wrapper {
  grid-column: 2 / span 10; 
  grid-row: 3; 
  display: grid;
  grid-template-columns: 1fr 2fr; 
  grid-gap: 24px; 
  padding: 30px 40px;
  margin-bottom: 40px;
  background-color: #F2E7D7; 
  background-image: url('diamond-pattern.png'); 
  background-repeat: repeat;
    border-radius: 10px;
  box-shadow: 10px 10px 10px #999; /* x, y, blur, color */
}

#vivia-portrait {
  height: auto;
  border: 15px solid #F2E7D7; 
  grid-column: 1 / 2;
    border-radius: 10px;
}

.about-me-text {
  text-align: center;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding-left: 60px;
  color: white;
  font-size: large;
}

.about-me-text h3 {
  background-color: #DBD1C1;
  padding: 15px;
    border-radius: 10px;
}

.about-me-text p {
  background-color: #DBD1C1;
  padding: 20px;
    border-radius: 10px;
}

footer {
  grid-column: span 12;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #DBD1C1;
  padding: 30px;
}

.footer-info p {
  color: #555555;
  margin-left: 74px;
  font-size: 20px;
  line-height: 1.5;
}

.logo{
  margin-right: 64px;
}

.dummycolumn {
  background-color: transparent; 
  grid-column: span 1;
}