body {
    background-color: white;
    background-image: url(a5bg.png);
    background-repeat:repeat;
    background-position: center center;
}

h1 {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav li {
    width:150px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    background-color: darkblue;
}

nav li a:hover {
    background-color: blue; 
}

#whitebox {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

#whitebox a:link {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

#whitebox a:visited {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

#whitebox a:hover {
    color: red;
    text-decoration: underline;
}

h2 {
    font-family: Helvetica, sans-serif;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

footer {
    background-color: darkblue;
    padding: 20px;
    border: 2px solid white;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
